/* Footer */

footer {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80px;
    list-style-type: none;
  }

  li {
    &:nth-of-type(n+2) {
      margin-left: 12px;
    }
  }

  a {
    color: $dark-grey;
    transition: color .25s ease-in;

    &:focus,
    &:hover {
      color: #bbb;
    }
  }

  .fa {
    font-size: 26px;
  }
}
