html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font: 16px / 1.414 'Roboto', arial, sans-serif;
}

.wrapper,
.col__full {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  min-height: calc(100vh - 80px);
}

.col__full {
  flex-direction: column;
  padding: 0 16px;
  width: 100%;

  @media (min-width: 480px) {
    flex-direction: row;
  }

  & + & {
    margin-top: 12px;
  }

  .col__half {
    @media (max-width: 479px) {
      padding: 0;

      &:last-of-type {
        margin-top: 12px;
      }
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.col__half {
  padding: 0 16px;
  width: 100%;

  @media (min-width: 480px) {
    width: 50%;
  }
}

.heading {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  text-align: center;

  @media (min-width: 480px) {
    font-size: 32px;
  }
}

.switch {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  @media (min-width: 351px) {
    flex-direction: row;
    align-items: center;
  }

  &--inactive {
    .switch__paddle {
      background-color: #eee;

      span {
        color: #888;
      }
    }

    .switch__label {
      color: #888;
    }
  }
}

.switch__input {
  display: none;
  visibility: hidden;

  &:checked ~ .switch__paddle {
    background: #ff3366;

    &:after {
      left: 36px;
    }
  }

  &:checked + .switch__paddle > .switch__paddle--yes {
    display: block;
  }

  &:checked + .switch__paddle > .switch__paddle--no {
    display: none;
  }
}

.switch__paddle {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
  font-size: 15px;
  font-weight: inherit;
  color: inherit;
  background-color: #cacaca;
  border-radius: 35px;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:after {
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fefefe;
    border-radius: 35px;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s ease-out;
  }
}

.switch__paddle--yes,
.switch__paddle--no {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch__paddle--yes {
  left: 12%;
  display: none;
  color: #fff;
}

.switch__paddle--no {
  right: 15%;
}

.switch__label {
  font-size: 17px;

  @media (max-width: 350px) {
    margin-top: 5px;
  }

  @media (min-width: 351px) {
    margin-left: 10px;
  }
}

textarea {
  padding: 8px;
  width: 100%;
  min-height: 120px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;

  @media (min-width: 480px) {
    min-height: 220px;
  }
}

.btn-container {
  @media (min-width: 480px) {
    justify-content: center;
  }
}

.btn {
  padding: 12px 32px;
  font-size: 16px;
  font-family: inherit;
  color: #fff;
  background-color: #ff3366;
  border: 0;
  border-radius: 35px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  cursor: pointer;
  transition: box-shadow .25s ease-in;

  &:focus,
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  }
}

footer {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80px;
    list-style-type: none;
  }

  li {
    &:nth-of-type(n+2) {
      margin-left: 12px;
    }
  }

  a {
    color: #888;
    transition: color .25s ease-in;

    &:focus,
    &:hover {
      color: #bbb;
    }
  }

  .fa {
    font-size: 26px;
  }
}
